myFooterText {
    font:x-small
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-image: url(~/../../Content/img/NewBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}